body.video-out video {
	opacity: 0;
}
body.video-out header .overlay {
	display: none;
}


html {
	scroll-behavior: smooth;
}

.container {
	max-width: 1200px !important;
}

.main-banner {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*Header with video background*/

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/images/photo2.jpg);
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 1;
  transition: 0.5s opacity;
  transition-delay: 1s;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
}



header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

section {
	width: 100%;
	height: 100vh;
	background-color: #fff;
}

section img {
	width: 100%;
}

section .d-block {
	padding-top: 200px;
}







